Q1. Write a program to calculate the electricity bill
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit Price
First 100 units     &emsp;&emsp;  no charge
Next 100 units     &emsp; &emsp;  Rs 5 per unit
After 200 units     &emsp; &emsp; Rs 10 per unit

In [4]:
units = int(input("Enter number of units: "))
bill=0
if units>100:
    bill =(units-100)*5
else:
    bill =0
if units>200:
    bill=500+(units-200)*10
print(f"total bill amount:Rs {bill}")

Enter number of units:  250

total bill amount:Rs 1000

Q2. write a program to accept percentage frrom the user and display the grade according to the following criteria:

   Marks             Grade
   >90                A
   >80 and <=90       B
   >=60 and <=80      C
   below 60           D

In [8]:
percentage = int(input("enter your percentage"))
if percentage>90:
    print("your grade is 'A'")
elif percentage>80 and percentage<=90:
    print("your grade is 'B'")
elif percentage>=60 and percentage<=80:
    print("your grade is 'C'")
else: 
    print("your grade is 'D'")

enter your percentage 99

your grade is 'A'

Q3. Accept the age of 4 people and display the youngest one?

In [1]:
print("enter the age of 4 people")
prakul = int(input("enter the age of prakul"))
sachin = int(input("enter the age of sachin"))
rohit = int(input("enter the age of rohit"))
raman = int(input("enter the age of raman"))
if prakul<sachin and  prakul<rohit and prakul<raman:
    print(f"youngest one age is : {prakul}")
elif sachin<prakul and sachin<rohit and sachin<raman:
    print(f"youngest one age is : {sachin}")
elif rohit<prakul and rohit<sachin and rohit<raman:
    print(f"youngest one age is : {rohit}")
else:
    print(f"youngest one age is :{raman}")

enter the age of 4 people

enter the age of prakul 74
enter the age of sachin 45
enter the age of rohit 48
enter the age of raman 45

youngest one age is :45

Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service----------- Bonus

More than 10 years    ----------------10%

\>=6 and <=10 -------------------------8%

Less than 6 years ----------------------5%

Ask user for their salary and years of service and print the
net bonus amount?

In [8]:
salary = int(input("enter your salary"))
service = int(input("enter your year of  service"))
if service<6:
    print(f"your bonus is {(salary *5)/100}")
elif service<=10 and service>=6:
    print(f"your bonus is {(salary *8)/100}")
else:
    print(f"your bonus is {(salary *10)/100}")

enter your salary 30000
enter your year of  service 12

your bonus is 3000.0

Q5. Accept three number from user and display the second largest number?

In [14]:
number1 = int(input("enter number 1"))
number2 = int(input("enter number 2"))
number3 = int(input("enter number 3"))
if (number1>number2 and number1<number3) or (number1>number3 and number1<number2):
    print(f" second largest number: {number1}")
elif (number2>number3 and number2<number1) or (number2<number3 and number2>number1):
    print(f" second largest number: {number2}")
else:
    print(f" second largest number: {number3}")

enter number 1 45
enter number 2 54
enter number 3 14

 second largest number: 45

Q6. Accept the marked price from the user and calculate the Net amount as (Marked Price – Discount) to pay according to following criteria:

Marked Price-----------Discount
>10000-----------------20%
>7000 and <=10000------15%
<=7000------------------10%

In [33]:
markedprice = int(input("enter your markedprice"))
if markedprice>10000:
    net_price= (markedprice-(markedprice*20)/100)
elif markedprice >7000 and markedprice <=10000:
    net_price = (markedprice-(markedprice*15)/100)
else:
    net_price = (markedprice-(markedprice*10)/100)
    print(f"your net_price is{net_price}")

enter your markedprice 4000

your net_price is3600.0

Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [22]:
print("enter the marks of subject")
english = int(input("enter the marks of english"))
maths = int(input("enter the marks of maths"))
science = int(input("enter the marks of science"))
social_science = int(input("enter the marks of science"))
if english>80 and maths>80 and science>80 and social>science>80:
    print("you got science stream")
elif english>80 and maths>50 and science>50 :
    print("you got commerce stream")
elif english>80 and social_science>80:
    print("you got humanities")
else: 
    print("Need marks above 80 in english")

enter the marks of subject

enter the marks of english 80
enter the marks of maths 45
enter the marks of science 65
enter the marks of science 78

Need marks above 80 in english

Q8. write a program to display "Hello" if a number entered by user is multiple of five , otherwise print "bye"?

In [26]:
number = int(input("enter your number"))
if number%5==0:
    print("hello")
else:
    print("bye")

enter your number 45

hello

Q9. write a program to check whether the last digit of a number (entered bye user) is divisible by 3 or not?

In [31]:
number = int(input("enter the number"))
if (number%10)%3==0:
    print(f"last digit of {number} is divisble by 3")
else:
    print(f"last digit of {number} is not divisble by 3")

enter the number 233

last digit of 233 is divisble by 3

Q10.Write a program to check whether a number entered is three-digit number or not?

In [32]:
number = int(input("enter a number"))
if 100<= number<=999 or -999<= number<=-100:
    print("its a three digit number")
else:
    print("it in not a three digit number")

enter a number 455

its a three digit number