Question 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [3]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Question 2: Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [45]:
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

Question 3: Write a Python program to print the multiplication table of a given number using a for loop.

In [3]:
print("enter your number")
number = int(input("number is"))
for i in range(1,11):
    print(f"{number}*{i} =",(number*i))

enter your number

number is 45

45*1 = 45
45*2 = 90
45*3 = 135
45*4 = 180
45*5 = 225
45*6 = 270
45*7 = 315
45*8 = 360
45*9 = 405
45*10 = 450

Q.4: Write a python program to count the number of even and odd numbers from a series of number using for  loop.

In [56]:
number = [1,2,3,4,5,6,7,8,9,10]
even = 0 
odd = 0
for i in (number):
    if i%2==0:
        even=even+1
    else:
        odd=odd+1
print("even",even)
print("odd",odd)

even 5
odd 5

Q5. Write a python program to find the factorial of a  number using a for  loop.

In [7]:
fact = 1
number = int(input("enter your number"))
for i in range(1,number+1):
    fact*=i
print(f"factorial of {number} is :",fact)

enter your number 5

factorial of 5 is : 120

Question 6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [6]:
# Fibonacci sequence 0,1,1,2,3,5,8,13,21,34,55,89,.

In [9]:
num1 = 0
num2 = 1
term = int(input("enter your term"))
print(num1,end=",")
for i in range(1,term):
    print(num2,end=",")
    num1,num2= num2,num1+num2

enter your term 8

0,1,1,2,3,5,8,13,

In [12]:
num1 =0
num2 =1
term = int(input("enter your term"))
print(num1,end=",")
for i in range(1,term):
    print(num2,end=",")
    num1,num2=num2,num1+num2

enter your term 10

0,1,1,2,3,5,8,13,21,34,

In [15]:
first ,second = 0,1
for i in range (10):
    print(first,end=" ")
    first,second= second,first+second                             #2nd method

0 1 1 2 3 5 8 13 21 34

Question 7: Write a Python program to check if a given number is prime or not using a for loop.

In [1]:
number = int(input("enter a number to check prime number or not"))

for i in range(2,number):
    if number%i==0:
        print("this is not prime number")
        break

else:
    print("this is prime number")

enter a number to check prime number or not 45

this is not prime number

uestion 8: Write a Python program to find the largest element in a list using a for loop.

In [8]:
element = input("enter element of list seprated by comma ")
lst = element.split(",")
maxmm = int(lst[0])
for i in lst:
    if int(i)>maxmm:
        maxmm=int(i)
print(f"largest element :{maxmm}")

enter element of list seprated by comma  5,9,221,4582,25654

largest element :25654

Question 9: Write a Python program to reverse a given string using a for loo

In [6]:
string ="python"
reverse=""

for i in string:
    # print(i,end=" ")
    reverse= i + reverse
print(reverse)

nohtyp

In [9]:
string = "python"
reverse = ""

for i in string:
    reverse = i+reverse
print(reverse)

nohtyp

Question 10: Write a Python program to find the common elements between two lists using a for loop. List1 = [1,2,3] List2 = [4,5,1] # common element is 1

In [12]:
list1=[1,2,3]
list2=[4,5,1]
print(f"Common elements in {list1} & {list2} are",end=": ")
for i in list1:
    for j in list2:
        if i==j:
            print(i)

Common elements in [1, 2, 3] & [4, 5, 1] are: 1